@font-face {
    font-family: Bebas;
    src: url(/Font/BebasNeue-Regular.ttf);
}
*{
    box-sizing: border-box;
    color: white;
}
body{
    font-family: Bebas;
    margin: 0;
    padding: 0;
    background: #000000;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.header button{
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 7px;
    border: 0;
    border-radius: 5px;
}
.header button:active{
    transform: scale(.8);
}
.first-page{
    background: url(Images/NG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 100vh;
    text-align: center;
    display: block;
    color: #FFFFFF;
    font-size: 1.3rem;
    padding-top: 100px;

}
.mail input{
    width: 27vw;
    height: 7vh;
    background-color: #252525;
    border: none;
    border-radius: 2px;
    padding: 20px;
    outline: 1px solid #FFFFFF;
    font-size: 1.1rem;
}
.mail button{
    width: 10vw;
    height: 7.5vh;
    background-color: #FF0000;
    border: none;
    border-radius: 2px;
    font-size: 1.1rem;
}
.page-break{
    background: grey;
    height: 3px;
}
.second-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
}
.third-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}
.fourth-page{
    display: flex;
    padding: 50px 150px;
}
.fifth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}
.words p{
    font-size: 1.2rem;
}
.words h2{
    font-size: 2.5rem;
}
.sixth-page{
    padding: 50px 150px;
}
.sixth-page .faqSection h2{
    font-size: 2rem;
}
.faqSection .faq .questions{
    border-bottom: 1px solid grey;
    margin: 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #808080;
    font-size: 1.5rem; 
    position: relative;
}
.faqSection .faq .questions::after{
    content: '+';
    font-weight: 700;
    position: absolute;
    right: 20px;
}
.faqSection .faq .answer{
    line-height: 1.5;
    height: 0;
    overflow: hidden;
    transition: height .5s;
    background-color: #212121;
    padding: 0 10px;
}
.faqSection .faq.open .answer{
    height: 100px;
}
.faqSection .faq.open .questions::after{
    content: '-';
    font-weight: 700;
    position: absolute;
    right: 20px;
}
.sixth-page p, .mail{
    margin: 20px 0;
    text-align: center;
}
footer{
    padding: 50px 150px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.links a{
    margin-bottom: 10px;
}
.column{
    display: grid;
}
select{
    color: #FFFFFF;
    background-color: black;
    padding: 5px 10px;
    margin-top: 15px;
}
a{
    color: grey;
}
footer p{
    color: #808080;
}

/*Responsive Design*/
@media screen and (max-width: 375px){
    .header{
    padding: 20px 10px;
    }
    .mail{
        display: grid;
        justify-items: center;
    }
    .mail input{
        width: 70vw;
    }
    .mail button{
        width: 30vw;
        margin-top: 20px;
    }
    .second-page, .third-page, .fourth-page, .fifth-page{
        display: grid;
        justify-items: center;
        text-align: center;
        padding: 0 15px;
    }
    .words p{
        font-size: 1rem;
    }
    .sixth-page{
        padding: 25px 30px;
    }
    .sixth-page .faqSection h2{
        font-size: 1.5rem;
    }
    footer{
        padding: 25px 30px;
    }
    .faqSection .faq .answer{
        overflow-y: scroll;
    }
    .faqSection .faq.open .answer{
        height: 70px;
    }
}



